.header {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: black;
}

.header-logo {
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #fff;
    position: relative;
}

.hero {
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://i.pinimg.com/originals/c5/5f/50/c55f506e7ef24d7de7af3649450ff237.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: grid;
    align-items: center;
}
