:root {
    --light: #fff;
    --dark: violet;
    }

body {
    margin: 0 auto;
    color: var(--light);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    align-items: center;
    }    

.header {
    padding-bottom: 30px;
    background-color: black;
    padding: 0 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bi-asterisk {
    color: #fff;
    position: relative;
    display: block;
    width: 20%;
    padding: 0 5%;
    opacity: .5;
} 

.nav-link {
    font-weight: bolder;
    font-size: 1.5rem;
    color: #ffff;
    opacity: .5;
}

.nav-link:hover {
    opacity: .5;
    color: violet;
}

.hero {
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://i.pinimg.com/originals/c5/5f/50/c55f506e7ef24d7de7af3649450ff237.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: grid;
    align-items: center;
}

.column {
    padding-bottom: 5rem;
    padding-top: 1rem;
}

h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 55px;
    color: blanchedalmond;
    text-align: center;
}

h2 {
    font-family:'Mate SC', serif;
    font-size: 40px;
    color: blanchedalmond;
    text-align: center;
}

.social-media li {
    display: inline-block;
    border: 0;
    margin-top: 1.6rem;
    margin-left: 2.4rem;
    height: 3.2rem;
  }

  .social-media li a {
    width: 3.2rem;
    height: 3.2rem;
    display: inline-block;
    text-indent: -9999px;
    cursor: pointer;
    padding: 0px;
  }
  .social-media li a:hover {
    opacity: 0.5;
  }


.avatar {
    width: 25rem;
    margin-left: 35%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: inline-block;
    position: relative;
    align-items: center;
}

.project-header {
    height: 5px;
    background: var(--dark);
    margin-bottom: 5rem;
    position: relative;
}

.project-header h3 {
    position: absolute;
    top: -.9rem;
    left: 25%;
    margin-left: 155px;
    width: 320px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    color: var(--dark);
    background: var(--light);
    font-size: 25px;
    padding: 0;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

.card {
    border-radius: 0 !important;
    border: 0 none;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    margin-left: 1px;
    margin-right: 1px;
    text-decoration: none;
    padding-left: 8px;
    margin-bottom: 15px;
    }

.card a {
    text-decoration: none;
    color: violet;
    }    
    
.card-img-top {
    width: 100%;
    border-radius: 0 !important;
    text-decoration: none;
    }

.card-title {
    text-align: center;
    text-decoration: none;
    font-family:'Hammersmith One', sans-serif; 
}   

.card a {
    text-decoration: none;
    opacity: .5;
    color: #fff;
}
